.App {
  text-align: center;
}

#flagLabel{
  font-weight:bold;
  margin: 0.25rem;
}

.App button {
  color: aliceblue;
  background-color: black;
  font-size: large;
  font-weight: bold;
  margin: 0.25rem;
  border-radius: 0.25rem;
  border: none;
}

form {
  padding: 1rem;
}